.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 32rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-login) 0 22px 70px 4px;
}

.title {
  text-align: center;
  margin: 35px 0;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.sectionInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.btnLogin {
  padding: 0.5rem;
  margin: 0 0 50px;
}

.line {
  margin: 1rem;
  display: inline-block;
}

.login_registration_link {
  text-align: center;
}
