.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formSection {
  width: 250px;
}

.title {
  text-align: center;
  margin: 35px 0;
}

.registrationForm {
  display: flex;
  flex-direction: column;
}

.sectionInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.btnRegistration {
  padding: 0.5rem;
  margin: 0 0 50px;
}

.line {
  margin: 1rem;
  display: inline-block;
}

.login_registration_link {
  text-align: center;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: var(--color-check);
  margin-left: 0.35rem;
}

.invalid {
  color: var(--color-error);
  margin-left: 0.25rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: var(--border-radius);
  background: var(--color-black);
  color: var(--color-white);
  padding: 0.25rem;
  position: relative;
  bottom: 0;
}

.instructions > svg {
  margin-right: 0.25rem;
}
