.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 2rem;
}


.img {
    animation: Slide_transition-animation__nrrdt 400ms linear;
    width: 100%;
    height: 100%;
}

.imgContainer {
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 2rem;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

@keyframes transition-animation {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}